.SiteFooter__wrapper {
  background: #222;
  color: #999;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 0 30px 0;
}

.SiteFooter__footNote {
  border-top: 1px solid #999;
  padding: 20px 0;
}

.SiteFooter__footNote__inner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.SiteFooter__footNote__inner .column {
  width: 50%;
  float: left;
  margin: 0;
}
