.my-carousel {
  position: static;
}

.carousel-item > div {
  float: left !important;
}
.carousel-by-item [class*="cloneditem-"] {
  display: none;
}

.taxonomy-product-category {
  height: 100%;
  display: flex;
  min-width: 65px;
  justify-content: center;
  vertical-align: middle;
}

.taxonomy-product-category a {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 0 3px;
}

.taxonomy-product-category a figure {
  height: 80px;
  padding: 10px 0;
  margin: 0;
  white-space: normal;
}

.taxonomy-product-category a figure img {
  border-radius: 50%;
  object-position: center;
  height: 100%;
  margin: auto;
}

.taxonomy-product-category a span {
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  transition: color .3s ease;
  color: #636363;
}

.taxonomy-product-category a:hover span {
  color: #C75724;
}

.taxonomy-product-category a.active span {
  color: #333;
  font-weight: 800;
}

.my-carousel {
  position: static;
  width: 100%;
  margin: 0 auto 20px;
}

.my-carousel-prev {
  background-color: none; 
  width: 7%;
}

.my-carousel-prev span {
}

.my-carousel-next {
  background-color: none; 
  width: 7%;
}

.my-carousel-next span {

}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e1e1e1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e1e1e1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.container {
  max-width: 1500px;
}