{{ attach_library('brigear/cart') }}

{{ kint(element.remove_button['#attributes']) }}

<form {{ attributes.addClass('checkout-layout') }}>
  {# HEADING #}
  <div class="checkout-heading">
    <h2> Secure Checkout </h2>
  </div>

  {# 
    MAIN CONTENT 
  #}
  <div class="checkout-columns">

    {# 
      COL 1 - REVIEW YOUR ORDER 
    #}
    <div class="checkout-column-1">

      <!-- 
        LIST ITEMS 
      -->
      <div class="checkout-cart-listItems">


        <!-- 
          ITEM 
        -->
        <div class="row checkout-cart-listItems-item">
          <div class="col-3 checkout-cart-listItems-item-thumbnail">
            <img src="https://bellroy.imgix.net/dynamic-assets/W1siZnUiLCJodHRwczovL3MzLmFtYXpvbmF3cy5jb20vcHJvZHVjdC5pbWFnZXMuYmVsbHJveS5jb20vcHJvZHVjdF9pbWFnZXMvaW1hZ2VzLzAwMC8wMDIvODEyL29yaWdpbmFsLzgwNjA3YjI4M2Q4ZWU1ZTlhY2FkODdlZjk5ZDlmODQzODEwMTU2MDY0ZjAwNDdlNThmNjcyYTEyZjkzM2FkODIuanBnIl1d/15fa9fb8571f9366/80607b283d8ee5e9acad87ef99d9f843810156064f0047e58f672a12f933ad82.jpg">
          </div>
          <div class="col-9 checkout-cart-listItems-item-details">
            <a href="#">Note Sleeve</a>
            <div class="checkout-cart-listItems-item-details-color">
              <span>Color:</span>
              <span>Caramel</span>
            </div>
            <div class="checkout-cart-listItems-item-details-finish">
              <span>Finish:</span>
              <span>Leather / RFID</span>
            </div>
            <div class="row checkout-cart-listItems-item-quantity">
              <span>Qty:</span>
              <input type="text" class="col-1 form-control checkout-cart-listItems-item-quantitySelect">
            </div>
            <div class="checkout-cart-listItems-item-price" title="1 x $95 USD">
              <span class="currency">
                <span class="currency-monetary">$95</span>
                <span class="currency-code">USD</span>
              </span>
            </div>
            <button {{ remove_button_attributes.addClass('checkout-cart-listItems-item-remove') }}>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>



      {# 
        SUBTOTAL 
      #}
      <div class="checkout-subtotal">
        <span>SUBTOTAL</span>
        <div>
          <span class="currency-monetary">$179</span>
          <span class="currency-code">USD</span>
        </div>
      </div>



      {# 
        TOTAL 
      #}
      <div class="checkout-total">
        <span>TOTAL</span>
        <div>
          <span class="currency-monetary">$179</span>
          <span class="currency-code">USD</span>
        </div>
      </div>

      <div style="clear: both"></div>

      <div class="row" style="margin: 0;">
      <input type="button" class="col-2 form-control button-control" value="Update">

      <a class="col-2 ml-auto checkout-checkout-button" href="#">Checkout</a>
    </div>
  </div>

</form>