{{ attach_library('brigear/product-category') }}

<div>{{ title }}</div>
<div class="subMenu">
  <ul class="rangeItems">
    <li>
      <a href="/products/category/mens-wallets" class="rangeItems__item rangeItems__item--mens-wallets" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/992/MensWallets.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ví nam</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/womens-wallets" class="rangeItems__item rangeItems__item--womens-wallets" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/996/WomensWallets.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ví nữ</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/travel-wallets" class="rangeItems__item rangeItems__item--travel-wallets" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/995/TravelWallets.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ví du lịch</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/bags" class="rangeItems__item rangeItems__item--bags" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/2120/bags-update_(1).jpg?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">túi</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/phone-cases" class="rangeItems__item rangeItems__item--phone-cases" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/1903/phone-cases-update.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vỏ điện thoại</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/work-accessories" class="rangeItems__item rangeItems__item--work-accessories active" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/997/Work.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phụ kiện làm việc</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/pouches" class="rangeItems__item rangeItems__item--pouches" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/1546/pouches.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bộ dụng cụ</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/key-covers" class="rangeItems__item rangeItems__item--key-covers" data-auto-id="true" id="sub_menu_item-link-720-6">
        <figure><img src="https://bellroy.imgix.net/cms_images/998/Keys.png?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">phím</font></font></span>
      </a>
    </li>
    <li>
      <a href="/products/category/all" data-auto-id="true" id="products-category-all-717-7">
        <figure><img src="https://bellroy.imgix.net/cms_images/2223/view-all-update.jpg?auto=format&amp;fit=max&amp;h=100"></figure>
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xem tất cả</font></font></span>
      </a>
    </li>
    <li>
      <a href="/last-chance-to-buy" class="rangeItems__item rangeItems__item--last-chance-to-buy" data-auto-id="true" id="last-chance-to-buy-1331-15">
        <figure><img src="https://bellroy.imgix.net/cms_images/2119/last-chance_(1).jpg?auto=format&amp;fit=max&amp;h=100"></figure>
        <span class="tablet-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cơ hội cuối cùng</font></font></span>
      </a>
    </li>
  </ul>
</div>

