{{ attach_library('brigear/footer') }}

<section class="SiteFooter__wrapper">
  <section class="SiteFooter__footNote">
    <div class="SiteFooter__footNote__inner">
      <div style="width: 50%; float: left; margin: 0;">
        <span style="font-size: 11px; text-transform: uppercase;">
            {{content.field_title.0}}
            <a style="color: #c7572b; text-transform: uppercase;" href="">{{ content.field_email.0 }}</a>
        </span>
      </div>
      <div style="width: 50%; float: left; margin: 0; text-align: right;">
        <span style="padding: 0 10px 0 0; margin: 0 10px 0 0; font-size: 11px">{{ content.field_text.0 }}
        </span>
      </div>
    </div>
  </section>
</section>
